/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/chapter3/target/
chapter1/src/main/resources/static/
chapter1/src/main/resources/templates/
chapter2/.gitignore
chapter2/.mvn/
chapter2/mvnw
chapter2/mvnw.cmd
chapter2/pom.xml
chapter2/src/main/java/com/elmo/chapter2/Chapter2Application.java
chapter2/src/main/java/com/elmo/chapter2/auth2/
chapter2/src/main/java/com/elmo/chapter2/util/
chapter2/src/main/resources/application.yml
chapter2/src/main/resources/static/
chapter2/src/main/resources/templates/
chapter2/src/test/
chapter3/.mvn/
logs/
